menu "Qoraal-http"

config QORAAL_HTTP
    bool "Enable Qoraal framework"
    default y

config QORAAL_HTTP_SERVER_TLS
    bool "Enable http server"
    default y

config QORAAL_HTTP_CLIENT_TLS
    bool "Enable http client"
    default y


config QORAAL_HTTP_SERVER_USER_THREAD
    int "Enable http server user thread"
    default 2



endmenu